---
apiVersion: v1
kind: Secret
metadata:
  name: csi-cephfs-secret
  namespace: {{ csi_namespace }}
stringData:
  adminID: {{ csi_authx_cephfs_adminid }}
  adminKey: {{ csi_authx_cephfs_adminkey }}
  userID: {{ csi_authx_cephfs_userid }}
  userKey: {{ csi_authx_cephfs_userkey }}
type: Opaque
