apiVersion: v1
kind: ConfigMap
data:
  config.json: |-
    [
        {
            "clusterID": "{{ csi_ceph_clusterid }}",
            "monitors": [ "{{ csi_ceph_mons | join('", "') }}" ]
        }
    ]
metadata:
  name: ceph-csi-config
  namespace: {{ csi_namespace }}
