---
apiVersion: v1
kind: Service
metadata:
  namespace: {{ traefik_namespace }}
  name: traefik
spec:
  ports:
  - name: http
    port: 80
    protocol: TCP
  - name: https
    port: 443
    protocol: TCP
  selector:
    app: traefik
---
apiVersion: v1
kind: Service
metadata:
  namespace: {{ traefik_namespace }}
  name: whoami
spec:
  ports:
  - name: http
    port: 80
    protocol: TCP
  selector:
    app: whoami
