command[check_certificates]=sudo /usr/lib/nagios/plugins/check_certificates
command[check_fdesc]=/usr/lib/nagios/plugins/check_fdesc
command[check_fsck]=/usr/lib/nagios/plugins/check_fsck
command[check_load]=/usr/lib/nagios/plugins/check_load -w 3.8,3.8,3.8 -c 4.0,4.0,4.0
command[check_mem]=/usr/lib/nagios/plugins/check_mem
command[check_ntpq]=/usr/lib/nagios/plugins/check_ntpq
command[check_rprocs]=/usr/lib/nagios/plugins/check_rprocs
command[check_temp]=sudo /usr/lib/nagios/plugins/check_rpi_temp
command[check_uptime]=/usr/lib/nagios/plugins/check_uptime
